h1 {
  color:black;
  background:teal;
  padding:20px;
  text-align:center;
}


body {
   background: linear-gradient(white,green);
 }
 
 .column1 {
    width:40%;
 	  float:left;
 }
 
 .column2 {
    width:58%;
    float:right;
 }
  
 img {
    max-width:100%;
 }
 
 .item {
   padding:10px;
   border:4px dashed teal;
 }
  
  h2 {
    color:orange;
    background:teal;
    padding:10px;
    text-align:center;
  }
  h3 {
    color:blue;
    background:teal;
    padding:20px;
    text-align:center;
  }
  h4 {
    color:violet;
    background:teal;
    padding:20px;
    text-align:center;
  }
.photo {
    box-shadow:4px 4px 4px gray;
    transform: rotate(40px);
  }
    #men {
   width: 100px;
   position: absolute;
   left: -100px;
   animation: cat1 5s infinite;
 }
 
@keyframes cat1 {
  0% {left:-20%;
       top:20%;}
 50% {left:15%; 
      top:20%;}
100% {left:-20%;
      top:20%;}
 }
       